
@font-face {
    font-family: 'Gilam Thin Italic DEMO';
    src: url('./fonts/Gilam-ThinItalicDEMO.eot');
    src: local('Gilam Thin Italic DEMO'), local('Gilam-ThinItalicDEMO'),
        url('./fonts/Gilam-ThinItalicDEMO.woff2') format('woff2'),
        url('./fonts/Gilam-ThinItalicDEMO.woff') format('woff'),
        url('./fonts/Gilam-ThinItalicDEMO.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gilam Bold Italic';
    src: url('./fonts/gilam-bold-italic.ttf');
    src: local('Gilam Bold Italic'), local('Gilam Bold Italic'),
        url('./fonts/gilam-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

*{
    padding: 0;
    font-family: 'Gilam Thin Italic DEMO';
    font-style: normal;
    color: #FFFFFF;
}

body {
    background-color: black;
}

header {
    padding: 0;
    margin: 5% 10%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    white-space: nowrap;
}

.head:nth-child(1) {
    grid-column: span 6;
    grid-row: 1;
}

a {
    padding: 10px 20px;
    border: 1px solid #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    white-space: nowrap;
}

h2 {
    font-family: Gilam Bold Italic;
    font-size: 50px;
    line-height: 28px;
}

p {
    font-size: 20px;
    line-height: normal;
    overflow: hidden;
}

header span, a {
    color: #E4B564;
}

.conteiner {
    margin: 10%;
}

.boxes {
    white-space: pre-wrap;
    min-height: 200px;
}

.boxes_networks {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.box_1 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20%;
}

.box_1:nth-child(1), .box_1:nth-child(2), .box_1:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}

.box_1:nth-child(1) {
    background-color: #634F2C;
}

.box_1:nth-child(2) {
    background-color: #B4A385;
}

.box_1:nth-child(3) {
    background-color: #E4B564;
}

.box_1:nth-child(4), .box_1:nth-child(5) {
    grid-column: span 3;
    grid-row: span 2;
}

.box_1:nth-child(4) {
    background-color: #635A4A;
}

.box_1:nth-child(5) {
    background-color: #B08C4D;
}

.boxes_park {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.box_2 {
    padding: 10%;
}

.box_2:nth-child(1) {
    grid-column: span 1;
    grid-row: span 8;
    background-color: #0E0E0E;
}

.box_2:nth-child(2) {
    grid-column: span 1;
    grid-row: span 10;
    background-color: #242424;
}

.box_2:nth-child(3) {
    grid-column: span 1;
    grid-row: span 6;
    background-color: #1F1F1F;
}
.box_2:nth-child(4) {
    grid-column: span 1;
    grid-row: span 6;
    background-color: #0E0E0E;
}
.box_2:nth-child(5) {
    grid-column: span 1;
    grid-row: span 10;
    background-color: #1F1F1F;
}

.box_2:nth-child(6) {
    grid-column: span 1;
    grid-row: span 8;
    background-color: #E4B564;
}

.box_2:nth-child(7) {
    grid-column: span 1;
    grid-row: span 6;
    background-color: #0A0909;
}

.boxes_clients  {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-content: center;
}

.box_3_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_3 {
    grid-column: span 3;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20%;
}

.box_3 img, .mavis {
    max-width: 80%;
    max-height: 90%;
}

.box_3 span {
    font-family: Gilam Bold Italic;
    font-size: 16px;
}
.box_3:nth-child(1) {
    background-color: #634F2C;
}

.box_3:nth-child(2) {
    background-color: #E8D2AB;
}

.box_3:nth-child(3) {
    background-color: #E4B564; 
}

.box_3:nth-child(4) {
    background-color: #635A4A; 
}

.box_3:nth-child(5) {
    background-color: #B08C4D; 
}

.box_3:nth-child(6) {
    background-color: #634F2C; 
}
